*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;

}

svg{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    z-index: 99999999999;
    stroke-dashoffset: 1000px;
    stroke-dasharray: 1000px;


}

.animate{
    animation: animation 10s cubic-bezier(0.075, 0.82, 0.165, 1) both;

}

body{
    overflow-x: hidden;
    overflow-y: hidden;
}
#background{
    
    width: 100%;
    height: 100%;
  
    background-color: black;
  
}
#circle{
    position: absolute;
    transform: translate(-50%,-50%);
    width: 60px;
    z-index: 9999999999999;
    height: 60px;
    pointer-events: none;
    border-radius: 50%;
    border: 1.2px solid white;
}

#background h1{
    color: white;
    font-size:500px ;
    font-weight: 900;
    
}

#wrapper{
    width: 99%;
    height: 100%;
    background-size: contain;
    background-position: 70%;
    display: flex;
    justify-content:center;
    align-items: center;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image:url('https://images.unsplash.com/photo-1541746972996-4e0b0f43e02a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80');

}
#whitestrip{
width: 50%;
display: flex;
justify-content: center;
align-items: center;
height: 100px;
position: absolute;
background-color: white;
top: 50%;
right: 0px;
transform:translate(0%,-50%);

}

#blackcard{
    width: 220px;
    height: 300px;
    background-color: black;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;

    transform: translate(-50%,-50%);
    top: 50%;
    left: 0px;

}

#blackcard p{
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    line-height: 26px;
}
#lineelem .line{
    width: 200px;
    height: 2px;
    background-color: black;
    margin: 0 30px;

}
#lineelem{
    display: flex;
    align-items: center;

}
#lineelem h4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
}
#ineelem i{
    cursor: pointer;
}

#background>h5{
    position: absolute;
    font-weight: 600;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    top: 50%;
    text-transform: uppercase;
    letter-spacing: 18px;
    font-size: 10px;
    transform: rotate(-90deg);
    left: 0px;


}

@keyframes animation{
    to{
        stroke-dasharray: 400px;
    }

}